<%- include('pageheader'); %>


<h2><%= event.title %></h2>

<%- include('eventbar', { route: "/events/" + event._id }); %>

<p>
  <%- markdown(event.description) %>  
</p>

<%- include('contactrow') %>          

<p>
  <%- include('eventbuttonbar', { buttonConfig: { gotoDetails:false, gotoList: true } }); %>  
</p>

<% if (settings.adminView || (event.attachments && event.attachments.length > 0)) { %>

  <%- include('eventdetails-attachments'); %>

<% } %>

<h3>
  Participants
</h3>
<% if (!user) { %>
<p>
  Login to view participants.
</p>

<% } else { %>

<p>
<% if (event.state == 'Closed') { %>

  Event is not open for signup.
  
<% } else { %>
  
  <% if (event.participants.length < event.maxParticipants) { %>
    <%= event.maxParticipants - event.participants.length %> seat(s) left.
  <% } else { %> 
    No seats left.
  <% } %>  
  
<% } %>  
</p>

<p>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Food Preference</th>
        <th scope="col">Guest to</th>
        <th scope="col"></th>      
      </tr>
    </thead>
    <tbody>
        <% for(let participant of event.participants) { %>
          <tr>
            <td><%= participant.name %></td>
            <td><%= participant.email %></td>
            <td><%= participant.foodPreference %></td>          
            <td><%= participant.guestTo %></td>
            <td>
              <% if (event.state == "Open") { %>
                <% if (settings.adminView) { %>
                    <a class="btn btn-sm btn-outline-secondary" href="/api/events/<%=event._id%>/_leaveguest/<%=participant.email%>?route=/events/<%=event._id%>">Remove</a>            
                <% } else { %>            
                  <% if (participant.email == user.email) { %>
                    <a class="btn btn-sm btn-outline-secondary" href="/api/events/<%=event._id%>/_leave?route=/events/<%=event._id%>">Remove</a>            
                  <% } %>
                  <% if (participant.guestTo == user.email) { %>
                    <a class="btn btn-sm btn-outline-secondary" href="/api/events/<%=event._id%>/_leaveguest/<%=participant.email%>?route=/events/<%=event._id%>">Remove Guest</a>
                  <% } %>
                <% } %>
              <% } %>
            </td>
          </tr>
        <% } %>
    </tbody>
  </table>
</p>

<% } // if user %>

<% if (user && event.reviews) { %>
<h3>Rating</h3>

<p>
  <% 
    let rates = event.reviews.map(x => x.rate).filter(x => x);
    let avgRate = Math.round(rates.reduce((a,b) => a + b, 0) / rates.length * 10) / 10.0;
  %>
  Average rating: <%= avgRate  %>
</p>

<% if (user && settings.adminView) { %>
<p>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Rate</th>
        <th scope="col">Comment</th>
      </tr>
    </thead>
    <tbody>
      <% for(review of  event.reviews) { %>
             <tr>
               <td><%= review.rate %> </td>
               <td><%= review.comment %>  </td>
            </tr>
      <% } %>  
    </tbody>
  </table>
</p>

<% } %>
<% } %>


<%- include('eventdetails-comments'); %>

<%- include('pagefooter'); %>