    <div class="col">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-450 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-collector-purple"><%= event.tag %></strong>
          <h3 class="mb-0 anonymous-link"><a href="/events/<%=event._id%>"><%= event.title %></a></h3>
          
          <%- include('eventbar', { event, user, route: "/" }); %>
          
          <p class="card-text mb-auto"><%= event.description %></p>
          
          <span class="mt-2">
            <span><%= event.contact %></span>
            <span><%= (event.contact && event.link) ? "|" : "" %></span>
            <% if (event.link)  { %>
              <a href="<%= event.link.href %>" class="text-collector-pink"><%=event.link.title %></a>
            <% } %>                          
          </span>
          
          <%- include('eventbuttonbar', { buttonConfig: { export: false, gotoDetails:true, gotoList: false }, route: "/" }) %>
        </div>
                  
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"/>
            <% if (event.eventType === "Lunch") { %>
              <text x="50%" y="50%" fill="#eceeef" dy=".4em" style="font-size:100px">&#127860;</text>
            <% } else {%>
              <text x="50%" y="50%" fill="#eceeef" dy=".4em" style="font-size:20px"><%= event.eventType %> </text>
            <% }%>            
          </svg>
        </div>
      </div>
    </div>    

