<h3>
  Comments
</h3>

<% if (!user) { %>
  <p>
  Login to view or add comments.
  </p>
<% } else { %> 
  <% if (event.comments && event.comments.length > 0) { %>

    <p>
      <%              
        let sortedComments = event.comments.slice();
        sortedComments.sort((a,b) => (a.createdAt > b.createdAt) ? 1 : ((b.createdAt > a.createdAt) ? -1 : 0)); 
      %>
      <% for(let comment of sortedComments) { %>
            <div class="comment-container">
              <div class="mb-1 text-muted">
                <%= comment.user.name %> | 
                <%= moment(comment.createdAt).fromNow() %> 
                <% if (user.email === comment.user.email || settings.adminView) { %>
                    | <span class="anonymous-link"><a href="/api/events/<%=event._id%>/comments/<%=comment._id%>/_delete?route=<%=route%>"><i class="fa fa-trash" aria-hidden="true" title="delete comment"></i></a></span>
                <% } %>
              </div>
              <p><%- markdown(comment.message) %></p>
            </div>
      <% } %>
    </p>

  <% } %>

  <form action="/api/events/<%= event._id %>/comments?route=<%=route%>" method="POST" id="add-comment-form">

    <script>
      function handleTextAreaKeyUp(event, elem) {
        const addDisabled = elem.value.length == 0;
        document.getElementById('add-comment-button').hidden = addDisabled;
        if (event.keyCode == 13 && event.ctrlKey && !addDisabled)
        {
            document.getElementById('add-comment-form').submit();
        }
      }
    </script>

    <div class="form-group">
      <textarea class="form-control" id="message" name="message" rows="4" onKeyup="handleTextAreaKeyUp(event, this)" placeholder="write your comment here (you can press ctrl+enter to add)"></textarea>
    </div>

    <div class="form-group">        
        <button type="submit" class="btn btn-primary btn-collector-purple" id="add-comment-button" hidden>Add</button>
    </div>
  </form>

<% } %>
